$blue-light: #8ECAE6;
$blue-medium: #219EBC;
$blue-dark: #023047;
$orange-light: #FFB703;
$orange-dark: #FB8500;

$body-background-color: $blue-dark;
$sidebar-color: darken($body-background-color, 3%);
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $blue-light;
$search-result-preview-color: $grey-dk-000;

$button-text-color: $white;
$link-color: $orange-light;
$btn-primary-color: $blue-200;
$base-button-color: $orange-dark;

$code-background-color: $grey-dk-250;
$search-background-color: $grey-dk-250;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

input {
  color: #fff;
}

.btn {
  color: $button-text-color !important;
}

figure {
  // Using markdown in figure and figcaption adds a paragraph with
  // styles. Remove that to compress the space.
  p {
    margin: 0 !important;
  }

  figcaption {
    font-style: italic;
    font-size: $font-size-3;
  }
}

table {
  th {
    font-style: bold;
  }

  th, td {
    background-color: darken($body-background-color, 3%)
  }
}
