$blue-light: #8ECAE6;
$blue-medium: #219EBC;
$blue-dark: #023047;
$orange-light: #FFB703;
$orange-dark: #FB8500;

$body-background-color: $blue-dark;
$sidebar-color: darken($body-background-color, 3%);
$border-color: $grey-dk-200;

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $blue-light;
$search-result-preview-color: $grey-dk-000;

$button-text-color: $white;
$link-color: $orange-light;
$btn-primary-color: $blue-200;
$base-button-color: $orange-dark;

$code-background-color: $grey-dk-250;
$search-background-color: $blue-dark;
$table-background-color: $grey-dk-250;
$feedback-color: darken($sidebar-color, 3%);

input {
  color: #fff;
}

.btn {
  color: $button-text-color !important;
}

figure {
  margin: 0 0 1rem 0 !important;
  text-align: center;

  // Using markdown in figure and figcaption adds a paragraph with
  // styles. Remove that to compress the space.
  p {
    margin: 0 !important;
  }

  figcaption {
    font-style: italic;
    font-size: $font-size-3;
  }
}

table {
  th {
    font-style: bold;
  }

  th, td {
    background-color: darken($body-background-color, 3%)
  }
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.site-footer {
  display: none;
}

footer .prev-next {
  .next-nav {
    text-align: right;
  }

  @include mq(md) {
    display: flex;
    flex: 1 1 auto !important;
    justify-content: space-between !important;
  }
}
